@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#landing {
  font-family: 'Source Sans Pro', sans-serif;
}

#landing button {
  color: white;
}

#landing .welcome-jumbo {
  height: 525px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("/img/food.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/food.webp");
  background-size: cover;
  background-position: center;
  padding: 75px;
}

#landing .welcome-jumbo .landing__header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}

#landing .welcome-jumbo .landing__header h1 {
  font-size: 5rem;
  font-weight: 900;
  color: white;
}

#landing .welcome-jumbo .landing__header h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}

#landing .welcome-jumbo .landing__header a {
  text-decoration: none;
}

#landing .welcome-jumbo .landing__header a button {
  width: 200px;
  height: 65px;
  display: block;
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: 600;
  background: #ff0000;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

#landing .landing-favorites {
  width: 90%;
  margin: 0 auto;
}

#landing .landing-favorites h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 30px;
}

#landing .landing-favorites .favs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
}

#landing .landing-favorites .favs-container .fav-slider {
  width: 900px;
  margin: 0 auto;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 0;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs {
  width: 225px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #bebebe;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs h3 {
  width: 225px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: #ff6600;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs img {
  height: 225px;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content {
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content h4 {
  font-size: 1.5rem;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content p {
  font-size: 1.2rem;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content a {
  text-decoration: none;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content button {
  height: 40px;
  width: 150px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  font-size: 1.2rem;
  font-weight: 600;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content form .order {
  height: 40px;
  width: 150px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

#landing .landing-favorites .nav-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .landing-favorites .nav-circles .circle-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

#landing .landing-favorites .nav-circles .circle-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bebebe;
  cursor: pointer;
}

#landing .landing-favorites .nav-circles .circle-3 {
  width: 20px;
  height: 20px;
  display: none;
  border-radius: 50%;
  background: #bebebe;
  cursor: pointer;
}

#landing .landing-favorites .nav-circles .circle-4 {
  width: 20px;
  height: 20px;
  display: none;
  border-radius: 50%;
  background: #bebebe;
  cursor: pointer;
}

#landing .rewards-pitch {
  height: 500px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("/img/rewards-1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/rewards-1.png");
  background-size: cover;
  background-position: center;
}

#landing .rewards-pitch .rewards-description {
  color: white;
  height: 100%;
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#landing .rewards-pitch .rewards-description h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}

#landing .rewards-pitch .rewards-description p {
  width: 75%;
  margin: 0 auto;
  font-size: 2rem;
}

#landing .rewards-pitch .rewards-description a {
  margin: 0 auto;
}

#landing .rewards-pitch .rewards-description a button {
  height: 50px;
  width: 150px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  #landing .landing-favorites .favs-container {
    width: 600px;
  }
  #landing .landing-favorites .favs-container .fav-slider {
    height: 550px;
    width: 600px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs {
    width: 200px;
    height: 500px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs h3 {
    width: 200px;
    height: 200px;
    font-size: 2.5rem;
    margin: auto;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content {
    height: 275px;
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs {
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs img {
    width: 200px;
    height: auto;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs .fav-content {
    height: 325px;
  }
  #landing .landing-favorites .nav-circles .circle-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landing .rewards-pitch .rewards-description h2 {
    font-size: 2.5rem;
  }
  #landing .rewards-pitch .rewards-description p {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #landing .landing-favorites .favs-container {
    width: 300px;
  }
  #landing .landing-favorites .favs-container .fav-slider {
    width: 300px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs {
    height: 500px;
    width: 150px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs h3 {
    height: 145px;
    width: 150px;
    font-size: 2rem;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content {
    width: 150px;
    height: 350px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content button, #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content order {
    font-size: 1.1rem;
    width: 100px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs {
    height: 500px;
    width: 150px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs img {
    width: 145px;
    height: auto;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs .fav-content {
    width: 150px;
    height: 350px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs .fav-content button {
    width: 100px;
  }
  #landing .landing-favorites .nav-circles .circle-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landing .landing-favorites .nav-circles .circle-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 320px) {
  #landing .welcome-jumbo {
    padding: 10px;
  }
  #landing .welcome-jumbo .landing__header h1 {
    font-size: 4.5rem;
  }
  #landing .welcome-jumbo .landing__header button {
    width: 150px;
    height: 50px;
  }
  #landing .landing-favorites .favs-container {
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider {
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs {
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs h3 {
    font-size: 3rem;
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content {
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .user-favs .fav-content button {
    width: 80px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs {
    height: 500px;
    width: 200px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs img {
    width: 195px;
    height: auto;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs .fav-content {
    width: 200px;
    height: 350px;
  }
  #landing .landing-favorites .favs-container .fav-slider .my-favs .fav-content button {
    width: 100px;
  }
  #landing .landing-favorites .nav-circles .circle-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landing .landing-favorites .nav-circles .circle-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landing .rewards-pitch .rewards-description h2 {
    font-size: 2rem;
  }
  #landing .rewards-pitch .rewards-description p {
    font-size: 1.4rem;
  }
}

#top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  background: white;
  margin: 0;
  padding: 0 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

#top-menu .logo {
  width: 125px;
  height: 125px;
}

#top-menu .logo img {
  width: 100%;
  height: 100%;
}

#top-menu .menu {
  width: 80%;
}

#top-menu .menu .links {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-menu .menu .links li a {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

#top-menu .menu .links li a:hover {
  color: #ff0000;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#top-menu .menu .links li input {
  border: none;
  background: white;
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

#top-menu .cart {
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#top-menu .cart .welcome {
  position: relative;
  top: -15px;
  font-weight: 700;
}

#top-menu .cart .num__container {
  position: relative;
  margin-left: 25px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff0000;
  z-index: 2;
}

#top-menu .cart .num__container .num {
  font-size: .8rem;
  font-weight: 700;
  color: white;
}

#top-menu .cart .fa-shopping-cart {
  position: relative;
  font-size: 1.7rem;
  color: black;
  z-index: 1;
}

#top-menu .sandwich {
  display: none;
}

#top-menu .sandwich .fas {
  font-size: 1.7rem;
}

.small-menu {
  display: none;
}

.small-menu .links {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-menu .links li {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #9e9e9e;
}

.small-menu .links li a {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.small-menu .links li a:hover {
  color: #ff0000;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.small-menu .links li input {
  margin: auto;
  border: none;
  background: #f5f5f5;
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

@media (max-width: 720px) {
  #top-menu {
    padding: 0;
  }
  #top-menu .menu {
    display: none;
  }
  #top-menu .menu .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #top-menu .menu .links li {
    width: 100%;
  }
  #top-menu .small-container {
    position: absolute;
    right: 0;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #top-menu .small-container .cart {
    width: 50%;
  }
  #top-menu .small-container .sandwich {
    color: #696969;
    font-size: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pt-4 {
  padding: 0 !important;
}

.py-4 {
  padding: 0 !important;
}

.w-full {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}

.login-register {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding-top: 30px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.login-register h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 0;
}

.login-register .login-main {
  width: 50%;
  margin: 20px auto 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.login-register .login-main .login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-register .login-main .login-section h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ff0000;
}

.login-register .login-main .login-section form {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.login-register .login-main .login-section form .form-group {
  margin: 0 auto;
  width: 300px;
}

.login-register .login-main .login-section form .form-group label {
  width: 100px;
}

.login-register .login-main .login-section form .form-group input {
  height: 50px;
  width: 250px;
  padding: 0 10px;
}

.login-register .login-main .register-section {
  height: 200px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-register .login-main .register-section h2 {
  width: 75%;
  font-size: 2rem;
  font-weight: 700;
  color: #ff0000;
}

.login-register .login-main .register-section p {
  font-size: 1.3rem;
}

.login-register .login-main .register-section button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#register {
  min-height: 100vh;
  padding-top: 30px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

#register h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #ff0000;
  text-align: center;
}

#register .register-main {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

#register .register-main form {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#register .register-main form label {
  margin-left: 15px;
  text-align: left;
  font-size: 1.2rem;
}

#register .register-main form input {
  margin: 0 auto;
  padding: 0 5px;
  border: 1px solid grey;
  display: block;
  width: 95%;
  height: 40px;
  font-size: 1.1rem;
  background: white !important;
}

#register .register-main form .email-label {
  display: block;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
}

#register .register-main form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

#register .register-main form .row label {
  margin-bottom: 10px;
}

#register .register-main form .row input {
  width: 45%;
  height: 40px;
}

#register .register-main form .registered-q-container {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register .register-main form .registered-q-container .registered-q {
  display: block;
  font-size: 1.2rem;
}

#register .register-main form .registered-q-container button {
  width: 200px;
  height: 60px;
  font-size: 1.4rem;
  background: #ff0000;
  border: none;
  border-radius: 5px;
}

.forgot-password {
  min-height: 100vh;
  padding-top: 30px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.forgot-password h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff0000;
  text-align: center;
}

.forgot-password .text-sm.text-gray-600 {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.1rem;
}

.forgot-password form {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.forgot-password form label {
  text-align: center;
  font-size: 1.2rem;
  display: block;
}

.forgot-password form input {
  margin: 0 auto;
  padding: 0 5px;
  border: 1px solid grey;
  display: block;
  width: 40%;
  height: 40px;
  font-size: 1.1rem;
  background: white !important;
}

.forgot-password form .flex.items-center.justify-end {
  width: 75%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forgot-password form .flex.items-center.justify-end button {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.reset-password {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.reset-password h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ff0000;
  padding: 15px 0;
}

.reset-password form {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.reset-password form label {
  text-align: center;
  font-size: 1.2rem;
  display: block;
}

.reset-password form input {
  margin: 0 auto;
  padding: 0 5px;
  border: 1px solid grey;
  display: block;
  width: 40%;
  height: 40px;
  font-size: 1.1rem;
  background: white !important;
}

.reset-password form button {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ff0000;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .login-register .login-main {
    width: 80%;
  }
  .login-register .login-main .register-section h2 {
    width: 80%;
  }
}

@media (min-width: 720px) {
  #register {
    padding: 30px 50px;
  }
}

@media (max-width: 576px) {
  .login-register .login-main .login-section form {
    width: 250px;
    margin: 0 auto;
  }
  .login-register .login-main .login-section form .row label {
    text-align: start;
  }
  .login-register .login-main .login-section form .form-group {
    width: 250px;
  }
  .login-register .login-main .login-section form .form-group input {
    height: 50px;
    width: 250px;
    padding: 0 10px;
  }
  #register .register-main form label {
    margin-left: 0;
  }
  #register .register-main form .email-label {
    margin-left: 15px;
  }
  #register .register-main form .registered-q-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .login-register h2 {
    width: 100%;
  }
  .login-register .login-main .register-section {
    height: 225px;
  }
  #register .register-main form {
    width: 95%;
  }
}

#menu {
  width: 100vw;
  padding-top: 30px;
}

#menu h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ff0000;
}

#menu .addFavs-pitch {
  margin: 20px 0;
  font-size: 1.3rem;
  text-align: center;
}

#menu .fav-container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
}

#menu .fav-container .favorite {
  width: 90%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu .fav-container .favorite img {
  display: block;
  width: 200px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#menu .fav-container .favorite .item-title {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 5px;
}

#menu .fav-container .favorite .item-title h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

#menu .fav-container .favorite .add-info {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px;
}

#menu .fav-container .favorite .add-info .description {
  font-size: 1.2rem;
  line-height: 1.2;
}

#menu .fav-container .favorite .add-info .price {
  font-size: 1.4rem;
}

#menu .fav-container .favorite .order {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu .fav-container .favorite .order:hover {
  background: #0971ce;
  color: black;
}

#menu .fav-container .favorite .remove {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu .fav-container .favorite .remove:hover {
  background: #0971ce;
  color: black;
}

#menu .categories {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

#menu .categories .category {
  margin: 25px 0;
}

#menu .categories .category .category-name h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

#menu .categories .category img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #menu .fav-container {
    -ms-grid-columns: 33.33% 33.33% 1fr;
        grid-template-columns: 33.33% 33.33% 1fr;
  }
  #menu .fav-container .favorite .item-title {
    height: 70px;
  }
  #menu .fav-container .favorite .add-info {
    height: 175px;
  }
  #menu .fav-container .favorite .order:hover {
    background: #ff0000;
    color: white;
  }
  #menu .categories {
    -ms-grid-columns: 33.33% 33.33% 1fr;
        grid-template-columns: 33.33% 33.33% 1fr;
  }
}

@media (max-width: 767px) {
  #menu .fav-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding: 5px;
  }
  #menu .fav-container .favorite {
    width: 100%;
  }
  #menu .fav-container .favorite img {
    width: 150px;
    height: 150px;
  }
  #menu .fav-container .favorite .add-info {
    padding: 0 5px;
  }
  #menu .fav-container .favorite .add-info .description {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  #menu .categories {
    width: 100%;
    padding: 0;
  }
  #menu .categories .category .category-name {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu .categories .category .category-name h2 {
    height: 100%;
    font-size: 1.5rem;
  }
  #menu .categories .category img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 414px) {
  #menu .fav-container .favorite .add-info .description {
    font-size: 1.1rem;
  }
  #menu .fav-container .favorite .order {
    font-size: 1.1rem;
  }
  #menu .fav-container .favorite .remove {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  #menu .fav-container .favorite {
    padding: 0 5px;
  }
  #menu .fav-container .favorite img {
    width: 100%;
    height: auto;
  }
  #menu .fav-container .favorite .item-title {
    margin: 0 auto;
  }
  #menu .fav-container .favorite .item-title h3 {
    font-size: 1.3rem;
    margin: 0 auto;
  }
  #menu .fav-container .favorite .add-info {
    height: 100px;
  }
  #menu .fav-container .favorite .add-info .description {
    display: none;
  }
  #menu .fav-container .favorite .order {
    width: 100px;
    font-size: 1.1rem;
  }
}

#category {
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  min-height: 100vh;
}

#category h1 {
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ff0000;
}

#category .rewards-pitch {
  width: 75%;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
}

#category #items {
  padding: 25px;
  width: 90%;
  margin: 0 auto;
}

#category #items .menu-item {
  width: 90%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#category #items .menu-item .item-text {
  padding: 0 10px;
}

#category #items .menu-item .item-text .item-title {
  padding-top: 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#category #items .menu-item .item-text .item-title h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

#category #items .menu-item .item-text img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#category #items .menu-item .item-text .add-info {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#category #items .menu-item .item-text .add-info .description {
  font-size: 1.2rem;
  line-height: 1.2;
}

#category #items .menu-item .item-text .add-info .price {
  font-size: 1.4rem;
}

#category #items .menu-item .add-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#category #items .menu-item .add-container .fav-icon {
  height: 100%;
  border: none;
}

#category #items .menu-item .add-container .fav-icon .fas {
  color: #ff0000;
  font-size: 2rem;
}

#category #items .menu-item .add-container .order {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#category #items .menu-item .add-container .order:hover {
  background: #0971ce;
  color: black;
}

#category #items .menu-item .add-container .favorite-popup {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

#category #items .menu-item .add-container .favorite-popup:not(:last-child) {
  display: none;
}

@media (max-width: 320px) {
  #category #items .menu-item .add-container .fav-icon .fas {
    font-size: 1.5rem;
  }
  #category #items .menu-item .add-container .order {
    width: 125px;
    font-size: 1.3rem;
  }
}

#order {
  padding: 30px 20px;
  min-height: 100vh;
  max-width: 100%;
}

#order h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

#order .item {
  height: 225px;
  width: 80%;
  padding: 0 5% 20px 5%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

#order .item .big-img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#order .item .item__container {
  width: 50%;
  height: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order .item .item__container .small-img {
  display: none;
}

#order .item .item__container .item-info {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order .item .item__container .item-info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

#order .item .item__container .item-info p {
  margin: 5px auto;
  font-size: 1.3rem;
}

#order .item .change__container {
  height: 50%;
  width: 25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order .item .change__container .quantity label {
  margin-bottom: 10px;
  display: block;
  font-size: 1.3rem;
}

#order .item .change__container .quantity select {
  width: 150px;
  margin: 0 auto;
}

#order .item .change__container input[type='submit'] {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  background: white;
  border: 1px solid #3a3a3a;
}

#order .item .change__container input[type='submit']:hover {
  background: #3a3a3a;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#order .giftcard {
  width: 90%;
  margin: 0 auto;
}

#order .giftcard img {
  display: block;
  width: 250px;
  height: auto;
  margin: 10px auto;
}

#order .giftcard .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#order .giftcard .info p {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

#order .giftcard .info input[type='submit'] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  background: white;
  border: 1px solid #3a3a3a;
}

#order .giftcard .info input[type='submit']:hover {
  background: #3a3a3a;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#order .summary {
  width: 40%;
  margin: 20px auto;
}

#order .summary h2 {
  font-size: 2rem;
  color: #0971ce;
  text-align: center;
}

#order .summary .subtotal-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#order .summary .subtotal-container p {
  font-size: 1.4rem;
}

#order .summary .savings {
  text-align: center;
  font-weight: 700;
  color: #ff0000;
}

#order .summary .tax {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#order .summary .tax p {
  font-size: 1.4rem;
}

#order .summary .rewards-available {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#order .summary .rewards-available p {
  font-size: 1.4rem;
}

#order .summary .rewards-use {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#order .summary .rewards-use p {
  font-size: 1.4rem;
}

#order .summary .total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order .summary .total h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

#order .summary .total p {
  font-size: 1.4rem;
}

#order .gift-tax {
  margin-top: 20px;
  text-align: center;
  color: #ff0000;
}

#order .user-finalize {
  width: 200px;
  height: 60px;
  display: block;
  margin: 25px auto;
  font-size: 1.4rem;
  font-weight: 600;
  background: #ff0000;
  border: none;
  border-radius: 5px;
}

#order .guest-finalize {
  width: 200px;
  height: 60px;
  display: block;
  margin: 25px auto;
  font-size: 1.4rem;
  font-weight: 600;
  background: #ff0000;
  border: none;
  border-radius: 5px;
}

@media (max-width: 720px) {
  #order h1 {
    margin-bottom: 0;
  }
  #order .item {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
  }
  #order .item .big-img {
    display: none;
  }
  #order .item .item__container {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #order .item .item__container .small-img {
    width: 150px;
    height: 150px;
    display: inline-block;
  }
  #order .item .item__container .item-info {
    width: 40%;
    height: 250px;
    margin: 0 auto;
  }
  #order .item .change__container {
    height: 30%;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #order .item .change__container .quantity {
    width: 45%;
  }
  #order .item .change__container .quantity label {
    margin-bottom: 10px;
  }
  #order .item .change__container .deleteItem {
    width: 45%;
  }
  #order .summary {
    width: 80%;
  }
  #order .summary .rewards-container .rewards-use select {
    height: 50px;
    margin: auto;
  }
}

@media (max-width: 320px) {
  #order .item {
    height: 300px;
  }
  #order .item .item__container {
    width: 90%;
  }
  #order .item .item__container .small-img {
    width: 100px;
    height: 100px;
  }
  #order .item .item__container .item-info {
    height: 125px;
  }
  #order .item .item__container .item-info .description {
    display: none;
  }
  #order .item .change__container {
    text-align: center;
  }
  #order .item .change__container .quantity .updateQuantity .quantity-select {
    width: 125px;
  }
}

#dashboard {
  max-width: 100%;
  min-height: calc(100vh - 125px);
  margin: 0 auto;
  padding-top: 30px;
}

#dashboard h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ff0000;
}

#dashboard .rewards__container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#dashboard .rewards__container .rewards {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
  background: #0971ce;
  text-align: center;
}

#dashboard .rewards__container .rewards p {
  font-size: 1.5rem;
}

#dashboard .rewards__container .rewards h3 {
  font-size: 2.5rem;
}

#dashboard .rewards__container .my-rewards {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  color: white;
  background: #ff0000;
  text-align: center;
}

#dashboard .rewards__container .my-rewards h3 {
  color: white;
  font-size: 3.5rem;
}

#dashboard .rewards__container .my-rewards p {
  font-size: 1.75rem;
  text-align: center;
}

#dashboard .fav-container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
}

#dashboard .fav-container .favorite {
  width: 90%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dashboard .fav-container .favorite img {
  display: block;
  width: 200px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#dashboard .fav-container .favorite .item-title {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 5px;
}

#dashboard .fav-container .favorite .item-title h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

#dashboard .fav-container .favorite .add-info {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px;
}

#dashboard .fav-container .favorite .add-info .description {
  font-size: 1.2rem;
  line-height: 1.2;
}

#dashboard .fav-container .favorite .add-info .price {
  font-size: 1.4rem;
}

#dashboard .fav-container .favorite .order {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#dashboard .fav-container .favorite .order:hover {
  background: #0971ce;
  color: black;
}

#dashboard .fav-container .favorite .remove {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #ff0000;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#dashboard .fav-container .favorite .remove:hover {
  background: #0971ce;
  color: black;
}

@media (max-width: 767px) {
  #dashboard .rewards__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  #dashboard .rewards__container .my-rewards {
    height: 200px;
    width: 50%;
  }
  #dashboard .rewards__container .my-rewards h3 {
    font-size: 2rem;
  }
  #dashboard .rewards__container .my-rewards p {
    font-size: 1.3rem;
  }
  #dashboard .rewards__container .rewards {
    height: 200px;
    width: 50%;
  }
  #dashboard .rewards__container .rewards h3 {
    font-size: 2rem;
  }
  #dashboard .rewards__container .rewards p {
    font-size: 1.3rem;
  }
  #dashboard .fav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  #dashboard .fav-container .favorite .add-info {
    height: 225px;
    padding: 0 5px;
  }
  #dashboard .fav-container .favorite .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dashboard .fav-container .favorite .btn-container form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #dashboard .fav-container .favorite .btn-container form .order {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  #dashboard .fav-container .favorite .btn-container form .remove {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  #dashboard .fav-container .favorite .item-title {
    height: 80px;
  }
  #dashboard .fav-container .favorite .add-info {
    height: 225px;
  }
}

@media (max-width: 414px) {
  #dashboard .fav-container .favorite .add-info .description {
    font-size: 1.1rem;
  }
  #dashboard .fav-container .favorite .order {
    font-size: 1.1rem;
  }
  #dashboard .fav-container .favorite .remove {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  #dashboard .rewards__container {
    display: block;
  }
  #dashboard .rewards__container .my-rewards {
    height: 225px;
    width: 75%;
  }
  #dashboard .rewards__container .rewards {
    height: 225px;
    width: 75%;
  }
  #dashboard .fav-container .favorite .item-title {
    height: 80px;
  }
  #dashboard .fav-container .favorite .add-info {
    height: 250px;
  }
}

#giftcards {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("/img/giftcards-bg.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/giftcards-bg.webp");
  background-size: cover;
  background-position: center;
}

#giftcards h1 {
  padding-top: 25px;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 2;
}

#giftcards h2 {
  padding-top: 25px;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 2;
}

#giftcards .card-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 2;
}

#giftcards .card-details h2 {
  width: 150px;
  display: block;
  margin: 25px auto 0 auto;
  font-size: 2.5rem;
  color: white;
}

#giftcards .card-details #addGift {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#giftcards .card-details #addGift input[type='button'] {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background: #bebebe;
  color: black;
}

#giftcards .card-details #addGift .active {
  background: #ff0000 !important;
}

#giftcards .card-details #addGift .custom-amount {
  margin: 20px auto 0 auto;
}

#giftcards .card-details #addGift .custom-amount p {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

#giftcards .card-details #addGift .custom-amount input[type='number'] {
  height: 40px;
  width: 300px;
  display: block;
  margin: 10px auto;
  padding: 0 5px;
  border: 1px solid #bebebe;
  font-size: 1.2rem;
}

#giftcards .card-details #addGift .custom-amount input[type='number'] input::-webkit-outer-spin-button,
#giftcards .card-details #addGift .custom-amount input[type='number'] input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#giftcards .add {
  background: #ff0000;
  height: 50px;
  width: 150px;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

@media (max-width: 720px) {
  #giftcards {
    padding-bottom: 30px;
  }
  #giftcards h1 {
    font-size: 3rem;
  }
  #giftcards h2 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  #giftcards {
    padding-bottom: 20px;
  }
  #giftcards .card-details #addGift .custom-amount input[type='number'] {
    width: 200px;
  }
}

@media (min-height: 896px) {
  #giftcards {
    padding-top: 100px;
  }
}

#checkout {
  min-height: 100vh;
}

#checkout h1 {
  margin-top: 15px;
  font-size: 3rem;
  text-align: center;
  color: #ff0000;
}

#checkout p {
  margin-top: 25px;
  font-size: 1.4rem;
  text-align: center;
}

#checkout .final-giftcard img {
  display: block;
  width: 250px;
  height: auto;
  margin: 20px auto;
}

#checkout .final-giftcard h4 {
  font-size: 2rem;
  text-align: center;
}

#checkout .final-giftcard p {
  font-size: 1.3rem;
  text-align: center;
}

.status-message {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app-layout {
  height: 100%;
  max-width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f5f5f5;
  z-index: -1;
}

#app-layout button {
  color: white;
}
/*# sourceMappingURL=app.css.map */