$orange: #ff6600;
$red: #ff0000;
$light-blue: #0971ce;

#category{
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  min-height: 100vh;
  h1{
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $red;
  }
  .rewards-pitch{
    width: 75%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
  }
  #items{
    padding: 25px;
    width: 90%;
    margin: 0 auto;
    .menu-item{
      width: 90%;
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      .item-title{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
          font-size: 1.5rem;
          text-align: center;
          font-weight: 700;
        }
      }
      img{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
      .add-info{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .description{
          font-size: 1.2rem;
          line-height: 1.2;
        }
        .price{
          font-size: 1.4rem;
        }
      }
      .add-container{
        display: flex;
        align-items: center;
        .fav-icon{
          height: 100%;
          border: none;
          background: white;
          .fas{
            background: white;
            color: $red;
            font-size: 2rem;
          }
        }
        .order{
          width: 100%;
          height: 50px;
          display: block;
          margin: 0 auto;
          border: 0;
          border-radius: 5px;
          background: $red;
          color: white;
          font-weight: 700;
          font-size: 1.3rem;
          transition: .2s ease-in-out;
          &:hover{
            background: $light-blue;
            color: black;
          }
        }
      }
    }
  }
}

@media(max-width: 320px){
  #category{
    #items{
      .menu-item{
        .add-container{
          .fav-icon{
            .fas{
              font-size: 1.5rem;
            }
          }
          .order{
            width: 125px;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}