$orange: #ff6600;
$red: #ff0000;
$light-blue: #0971ce;

#dashboard{
  max-width: 100%;
  min-height: calc(100vh - 125px);
  margin: 0 auto;
  padding-top: 30px;
  h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $red;
  }
  .rewards__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .rewards{
      width: 300px;
      height: 200px;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      color: white;
      background: $light-blue;
      text-align: center;
      p{
      font-size: 1.5rem;
      }
      h3{
        font-size: 2.5rem;
      }
    }
    .my-rewards{
      width: 300px;
      height: 200px;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 5px;
      color: white;
      background: $red;
      text-align: center;
      h3{
        color: white;
        font-size: 3.5rem;
      }
      p{
        font-size: 1.75rem;
        text-align: center;
      }
    }
  }
  .fav-container{
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    .favorite{
      width: 90%;
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      img{
        display: block;
        width: 200px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
      .item-title{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 5px;
        h3{
          font-size: 1.5rem;
          text-align: center;
          font-weight: 700;
        }
      }
      .add-info{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 15px;
        .description{
          font-size: 1.2rem;
          line-height: 1.2;
        }
        .price{
          font-size: 1.4rem;
        }
      }
      .order{
        display: block;
        margin: 0 auto;
        width: 95%;
        height: 50px;
        border: 0;
        border-radius: 5px;
        background: $red;
        color: white;
        font-weight: 700;
        font-size: 1.3rem;
        transition: .2s ease-in-out;
        &:hover{
          background: $light-blue;
          color: black;
        }
      }
      .remove{
        display: block;
        margin: 0 auto;
        width: 95%;
        height: 50px;
        border: 0;
        border-radius: 5px;
        background: $red;
        color: white;
        font-weight: 700;
        font-size: 1.3rem;
        transition: .2s ease-in-out;
        &:hover{
          background: $light-blue;
          color: black;
        }
      }
    }
  }
}

// @media(max-width: 992px){
//   #dashboard{
//     padding-bottom: 30px;
//     .fav-container{
//       grid-template-columns: 33.33% 33.33% 1fr;
//     }
//   }
// }

@media(max-width: 767px){
  #dashboard{
    .rewards__container{
      display: flex;
      justify-content: space-around;
      width: 100%;
      .my-rewards{
        height: 200px;
        width: 50%;
        h3{
          font-size: 2rem;
        }
        p{
          font-size: 1.3rem;
        }
      }
      .rewards{
        height: 200px;
        width: 50%;
        h3{
          font-size: 2rem;
        }
        p{
          font-size: 1.3rem;
        }
      }
    }
    .fav-container{
      display: grid;
      grid-template-columns: 50% 50%;
      .favorite{
        .add-info{
          height: 225px;
          padding: 0 5px;
        }
        .btn-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          form{
            width: 100%;
            display: flex;
            justify-content: center;
            .order{
              display: block;
              width: 100%;
              margin: 0 auto;
            }
            .remove{
              display: block;
              width: 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 576px){
  #dashboard{
    .fav-container{
      .favorite{
        .item-title{
          height: 80px;
        }
        .add-info{
          height: 225px;
        }
      }
    }
  }
}

@media(max-width: 414px){
  #dashboard{
    .fav-container{
      .favorite{
        .add-info{
          .description{
            font-size: 1.1rem;
          }
        }
        .order{
          font-size: 1.1rem;
        }
        .remove{
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media(max-width: 320px){
  #dashboard{
    .rewards__container{
      display: block;
      .my-rewards{
        height: 225px;
        width: 75%;
      }
      .rewards{
        height: 225px;
        width: 75%;
      }
    }
    .fav-container{
      .favorite{
        .item-title{
          height: 80px;
        }
        .add-info{
          height: 250px;
        }
      }
    }
  }
}