$orange: #ff6600;
$red: #ff0000;
$light-grey: #bebebe;

#giftcards{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('/img/giftcards-bg.webp');
  background-size: cover;
  background-position: center;
  h1{
    padding-top: 25px;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    z-index: 2;
  }
  h2{
    padding-top: 25px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    z-index: 2;
  }
  .card-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    h2{
      width: 150px;
      display: block;
      margin: 25px auto 0 auto;
      font-size: 2.5rem;
      color: white;
    }
    #addGift{
      width: 90%;
      margin: 0 auto;
      text-align: center;
      input[type='button']{
        height: 50px;
        width: 150px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        background: $light-grey;
        color: black;
      }
      .active{
        background: $red !important;
      }
      .custom-amount{
        margin: 20px auto 0 auto;
        p{
          display: block;
          width: 200px;
          margin: 0 auto;
          text-align: center;
          font-size: 1.3rem;
          color: white;
        }
        input[type='number']{
          height: 40px;
          width: 300px;
          display: block;
          margin: 10px auto;
          padding: 0 5px;
          border: 1px solid $light-grey;
          font-size: 1.2rem;
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }
  .add{
    background: $red;
    height: 50px;
    width: 150px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    z-index: 2;
  }
}

@media(max-width: 720px){
  #giftcards{
    padding-bottom: 30px;
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2rem;
    }
  }
}

@media(max-width: 576px){
  #giftcards{
    .card-details{
      #addGift{
        .custom-amount{
          input[type='number']{
            width: 200px;
          }
        }
      }
    }
    padding-bottom: 20px;
  }
}

@media(min-height: 896px){
  #giftcards{
    padding-top: 100px;
  }
}